* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.popup {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .3);
}

.popup-content {
	position: relative;
	width: 300px;
	height: 250px;
	background-color: bisque;
	border-radius: 7px;
	padding: 20px 10px;
}

.popup-close {
	position: absolute;
	top: 20px;
	right: 10px;
	background: none;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.popup-close:hover {
	font-weight: normal;
}

.popup-close:focus {
	border: none;
	outline: none;

}

.hidden {
	display: none;
}